header h1{
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  color: white;
}
footer, header{
  background-color: black;
  padding: 20px;
}
body{
  margin: 0px;
}
.footer-columns{
  display: flex;
}
.footer-column{
  margin: 10px;
}
.footer-columns h4, p, h1{
  color: white;
}
.post p, h3{
  font-family: sans-serif;
  color: black;
}
.post{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
} 
.post h1{
  text-align: center;
  font-family: sans-serif;
  background-color: goldenrod;
  border-radius: 4px;
  font-weight: bold;
}

.post h2{
  font-family: sans-serif;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background-color: gray;
  border-radius: 7px;
}



main{
  padding: 10px;
  background-color: gray
}
#menu1 a{
  text-decoration: none;
  color: white;
}
#menu1{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}
#menu1 ul{
  position: relative;
  display: block;
  margin: 0px;
  padding-right: 100px;
  padding: 0px;
  list-style: none;
  width: 100%;
  height: auto;
}
#menu1 ul, li{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
}
#menu1 ul li a{
 display: block;
 padding: 10px 25px 10px 25px;
 font-size: 14px;
 text-decoration: none;
 font-weight: bold;
 font-family: sans-serif;
 background-color: black;


}
#menu1 >ul::after{
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
  background-color: black;
}

.post h4{
  float: right;
  padding-right: 20px;
  margin-left: 20px;
  font-family: sans-serif;
}
.posi p{
  font-family: sans-serif;
}
